[Desktop Entry]
Name=RTL_Server 1
Comment=port 2020
Icon=~/Downloads/patssdr/server1.png
Exec=/usr/bin/python ~/Downloads/patssdr/server1.py
Type=Application
Encoding=UTF-8
StartUpNotify=true
Terminal=true
